.news {
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: flex;

        min-height: 380px;
        height: 100%;

        border-top: 1px $color-iron solid;
        padding: 60px 28px 58px 28px;
        width: 100%;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 1230px) {
            padding: 60px 0 58px 0;
        }

        @include vp-1023 {
            padding: 30px 15px;
        }
    }

    &__text-inner {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        max-width: 872px;
        width: 100%;

        @include vp-1023 {
            display: flex;
            flex-direction: column;
        }
    }

    &__center-inner {
        max-width: 400px;
        width: 100%;

        display: flex;
        flex-direction: column;

        @media (max-width: 1173px) {
            max-width: 310px;
        }

        @include vp-1023 {
            max-width: 100%;
        }
    }

    &__date-inner {
        display: flex;
        flex-direction: column;

        @include vp-1023 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }
    }

    &__description {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;

        margin: 0;

        max-width: 400px;
        width: 100%;

        @include vp-1023 {
            max-width: 100%;
            text-align: justify;
        }
    }

    &__description-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__description-item {
        position: relative;
        text-indent: 12px; /* Отодвигаем текст только для первой строки */
    }

    &__description-item::after {
        content: "";
        position: absolute;
        top: 11px;
        left: 1px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $color-blue-charcoa;
    }

    &__img {
        height: 220px;
        object-fit: cover;
        align-self: start;

        @include vp-1023 {
            // max-height: 280px;
            height: 100%;
            border-radius: 10px;
        }
    }

    &__title {
        font-weight: 200;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin: 0 0 20px 0;

        @media (max-width: 1173px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__date {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: $color-mischka;
        margin: 0 0 20px 0;

        @include vp-1023 {
            margin: 0;
        }
    }
}
