.news {
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        &--grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            border-top: 1px $color-iron solid;
            padding: 40px 0;

            @include vp-767 {
                grid-template-columns: 1fr;
                padding: 30px 0;
                gap: 15px;
            }

            .news__item .news__description-inner {
                display: none;
            }

            .news__item .news__description {
                display: none;
            }

            .news__item .news__image-box--flex {
                display: none;
            }

            .news__item .news__image-box--grid {
                display: flex;
            }

            .news__link {
                position: absolute;
                z-index: 2;
                top: 0px;
                left: 0px;
            }

            .news__card {
                position: relative; // для позиционирования потомков
                display: flex;
                flex-direction: column;
                min-height: 360px;
                height: 100%;

                padding: 40px;
                width: 100%;
                justify-content: space-between;
                gap: 20px;

                @include vp-1023 {
                    padding: 20px;
                }

                @include vp-767 {
                    min-height: 200px;
                    height: 100%;
                }
            }

            .news__image-box--grid {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                pointer-events: none;

                .news__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    @include vp-1023 {
                        border-radius: 0;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 0.5) 100%
                    );
                    z-index: 1;
                    pointer-events: none;
                }
            }

            .news__text-inner {
                position: relative;
                z-index: 2; // выше всего
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                padding: 0;
                margin: 0;
            }

            .news__center-inner {
                display: flex;
                flex-direction: column-reverse;
                margin-top: auto;
                min-width: 100%;

                @include vp-767 {
                    margin-top: auto;
                }
            }

            .news__title {
                color: $color-white;
                margin: 0;
                min-width: 100%;

                @include vp-767 {
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                }
            }

            .news__date {
                margin: 0 0 10px 0;
                color: $color-white;
            }

            .news__date-inner {
                margin: 0;
                align-items: flex-end;
            }
        }
    }

    &__card {
        display: flex;
        min-height: 380px;
        height: 100%;
        border-top: 1px $color-iron solid;
        padding: 60px 28px 58px 28px;
        width: 100%;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 1230px) {
            padding: 60px 0 58px 0;
        }

        @include vp-1023 {
            padding: 30px 15px;
        }

        @include vp-767 {
            padding: 30px 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &__image-box--grid {
        display: none;
    }

    &__text-inner {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        max-width: 872px;
        width: 100%;

        @include vp-1023 {
            display: flex;
            flex-direction: column;
        }

        @include vp-767 {
            gap: 0;
        }
    }

    &__center-inner {
        max-width: 400px;
        width: 100%;

        display: flex;
        flex-direction: column;

        @media (max-width: 1173px) {
            max-width: 310px;
        }

        @include vp-1023 {
            max-width: 100%;
        }

        @include vp-767 {
            flex-direction: column-reverse;
        }
    }

    &__date-inner {
        display: flex;
        flex-direction: column;

        @include vp-1023 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }

        @include vp-767 {
            margin-bottom: 9px;
            height: 32px;
        }
    }

    &__description {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;

        margin: 0;

        max-width: 400px;
        width: 100%;

        @include vp-1023 {
            max-width: 100%;
            text-align: justify;
        }

        @include vp-767 {
            text-align: left;

            font-size: 12px;
            line-height: 16px;
        }
    }

    &__description-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__description-item {
        position: relative;
        text-indent: 12px; /* Отодвигаем текст только для первой строки */

        @include vp-767 {
            text-indent: 7px;
        }
    }

    &__description-item::after {
        content: "";
        position: absolute;
        top: 11px;
        left: 1px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $color-blue-charcoa;

        @include vp-767 {
            top: 6px;
        }
    }

    &__img {
        height: 220px;
        object-fit: cover;
        align-self: start;

        @include vp-1023 {
            height: 100%;
            border-radius: 10px;
        }

        @include vp-767 {
            width: 100%;
            border-radius: 0;
        }
    }

    &__title {
        font-weight: 200;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin: 0 0 20px 0;

        @media (max-width: 1173px) {
            font-size: 20px;
            line-height: 24px;
        }

        @include vp-767 {
            margin-bottom: 15px;

            font-size: 20px;
            line-height: 24px;
        }
    }

    &__date {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: $color-mischka;
        margin: 0 0 20px 0;

        @include vp-1023 {
            margin: 0;
        }

        @include vp-767 {
            font-size: 12px;
            line-height: 16px;
        }
    }
}
