.project-filters {
    &__wrapper {
        padding: 40px 0 20px 0;

        @include vp-767 {
            padding: 15px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;
        gap: 10px;

        @include vp-767 {
            margin: 0;
        }
    }

    &__item {
        @include vp-767 {
            display: none;
        }
        &--mobile {
            display: none;
            @include vp-767 {
                display: flex;
            }
        }
    }

    &__link {
        display: flex;

        font-size: 14px;
        line-height: 20px;
    }

    &__view-controls {
        display: flex;
        gap: 30px;

        @include vp-767 {
            gap: 20px;
        }
    }

    &__view-box {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        color: $color-mischka;

        background: none;
        border: none;
        padding: 0;
        margin: 0;

        &--active {
            color: $color-blue-charcoa;
        }

        &:hover,
        &:focus-visible {
            text-decoration: underline;
            outline: none;
        }
    }

    &__view-text {
        font-size: 18px;
        line-height: 26px;

        @include vp-767 {
            display: none;
        }
    }

    &__menu-icon {
        @include vp-767 {
            width: 20px;
        }
    }
}
